<%- contentFor('html_attribute') %>
data-layout-position="scrollable"

<%- contentFor('extra_css') %>

<%- contentFor('body_attribute') %>

<%- contentFor('content') %>

<div class="container-fluid">
    <%- include('partials/page-title') %>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To enable full scrolling and view all content, please add
                    <code>data-layout-position="scrollable"</code> to the
                    <code>&lt;html&gt;</code> tag.
                </div>
            </div>
        </div>
    </div>

    <div style="height: 1000px;"></div>
</div>
<!-- container -->

<%- contentFor('extra_javascript') %>