<%- contentFor('html_attribute') %>
lang="en" data-sidenav-size="compact"

<%- contentFor('extra_css') %>

<%- contentFor('body_attribute') %>

<%- contentFor('content') %>

<div class="container-fluid">
    <%- include('partials/page-title') %>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To enable the medium-sized (compact) sidebar, add  
                    <code>data-sidenav-size="compact"</code> to the  
                    <code>&lt;html&gt;</code> tag.
                </div>
            </div>                                              
        </div>
    </div>

</div>
<!-- container --> 

<%- contentFor('extra_javascript') %>