<!doctype html>
<html lang="en">

<head>
    <%- include('./title-meta') %>
    <%- extra_css %>
    <%- include ('./head-css') %>
</head>

<body <%- body_attribute %>>

     <%- content %>

    <%- include ('./footer-scripts') %>
    <%- extra_javascript %>

</body>

</html>