<!doctype html>
<html lang="en" <%- html_attribute %> >
<head>
    <%- include('./title-meta') %>
    <%- extra_css %>
    <%- include ('./head-css') %>
</head>

<body <%- body_attribute %>>

<div class="wrapper">
    <%- include('./topbar') %>

    <%- include('./horizontal-nav') %>
    
    <div class="content-page">
        <%- content %>

        <%- include ('./footer') %>
    </div>

</div>

<%- include('./customizer') %>

<%- include ('./footer-scripts') %>
<%- extra_javascript %>

</body>
</html>