<%- contentFor('html_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('body_attribute') %>

<%- contentFor('content') %>

<div class="container-fluid">

    <%- include('partials/page-title') %>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Basic Heatmap Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-heatmap" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
            
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Heatmap Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-heatmap3" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Heatmap - 20K Data Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-heatmap4" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
     
</div>
<!-- container -->

<%- contentFor('extra_javascript') %>

<!-- E Charts js -->
<script src="/plugins/echarts/echarts.min.js"></script>

<!-- E Charts Demo js -->
<script src="/js/pages/chart-echart-heatmap.js"></script>