<%- contentFor('html_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('body_attribute') %>

<%- contentFor('content') %>

<div class="container-fluid">

    <%- include('partials/page-title') %>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Basic Candlestick Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-basic-candlestick" style="min-height:400px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Mixed Candlestick Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-mixed-candlestick" style="min-height:400px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- container -->
 
<%- contentFor('extra_javascript') %>

<!-- E Charts js -->
<script src="/plugins/echarts/echarts.min.js"></script>

<!-- E Charts Demo js -->
<script src="/js/pages/chart-echart-candlestick.js"></script>