<%- contentFor('html_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('body_attribute') %>

<%- contentFor('content') %>

<div class="container-fluid">
    <%- include('partials/page-title') %>
</div>

<%- contentFor('extra_javascript') %>