<!-- Horizontal Menu Start -->
<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="container-fluid">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-dashboards" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-layout-dashboard"></i></span>
                            <span class="menu-text"> Dashboards </span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
                            <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>" class="dropdown-item">Dashboard v.1</a>
                            <a href="<%= url_for :controller => 'dashboard', :action => 'index_2' %>" class="dropdown-item">Dashboard v.2</a>
                            <a href="<%= url_for :controller => 'dashboard', :action => 'index_3' %>" class="dropdown-item">Dashboard v.3</a>
                            <a href="#!" class="dropdown-item disabled">Dashboard v.4 <span class="badge text-bg-light opacity-50">soon</span></a>
                            <a href="#!" class="dropdown-item disabled">Dashboard v.5 <span class="badge text-bg-light opacity-50">soon</span></a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-apps"></i></span>
                            <span class="menu-text">Apps</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <a href="<%= url_for :controller =>  'apps', :action => 'calendar' %>" class="dropdown-item"><i class="ti ti-calendar"></i> Calendar</a>
                            <a href="<%= url_for :controller =>  'apps', :action => 'chat' %>" class="dropdown-item"><i class="ti ti-message"></i> Chat</a>
                            <a href="<%= url_for :controller =>  'apps', :action => 'file_manager' %>" class="dropdown-item"><i class="ti ti-folder"></i> File Manager</a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-ecommerce" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-basket"></i> Ecommerce <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'product' %>" class="dropdown-item">Products</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'product_grid' %>" class="dropdown-item">Products Grid</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'product_details' %>" class="dropdown-item">Product Details</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'product_add' %>" class="dropdown-item">Add Product</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'categories' %>" class="dropdown-item">Categories</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'order' %>" class="dropdown-item">Orders</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'order_detail' %>" class="dropdown-item">Order Details</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'customers' %>" class="dropdown-item">Customers</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'seller' %>" class="dropdown-item">Sellers</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'seller_detail' %>" class="dropdown-item">Sellers Details</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'review' %>" class="dropdown-item">Reviews</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'product_view' %>" class="dropdown-item">Product Views</a>
                                    <a href="<%= url_for :controller => 'ecommerce', :action => 'sales' %>" class="dropdown-item">Sales</a>
                                </div>
                            </div>

                            <!-- Email Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-email" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-mail"></i> Email <span class="badge text-bg-danger ms-1">New</span> <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-email">
                                    <a href="<%= url_for :controller => 'apps', :action => 'email' %>" class="dropdown-item">Inbox</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'email_details' %>" class="dropdown-item">Details</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'email_compose' %>" class="dropdown-item">Compose</a>
                                </div>
                            </div>

                            <!-- Users Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-users" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-users"></i> Users <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-users">
                                    <a href="<%= url_for :controller => 'apps', :action => 'contacts' %>" class="dropdown-item">Contacts</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'role' %>" class="dropdown-item">Roles</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'permissions' %>" class="dropdown-item">Permissions</a>
                                </div>
                            </div>

                            <!-- Projects Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-projects" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-briefcase"></i> Projects <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-projects">
                                    <a href="<%= url_for :controller => 'apps', :action => 'projects' %>" class="dropdown-item">My Projects</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'project_list' %>" class="dropdown-item">Projects List</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'project_details' %>" class="dropdown-item">View Project</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'project_kanban' %>" class="dropdown-item">Kanban Board</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'project_team_board' %>" class="dropdown-item">Team Board</a>
                                    <a href="<%= url_for :controller => 'apps', :action => 'project_activity' %>" class="dropdown-item">Activity Stream</a>
                                </div>
                            </div>

                            <!-- Invoice Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-invoice" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-invoice"></i> Invoice <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-invoice">
                                    <a href="<%= url_for :controller =>  'apps', :action => 'invoices' %>" class="dropdown-item">Invoices</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'invoice_details' %>" class="dropdown-item">Single Invoice</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'invoice_create' %>" class="dropdown-item">New Invoice</a>
                                </div>
                            </div>

                            <!-- Other Apps Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-otherapps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-circle-dashed-plus"></i> Other Apps <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-otherapps">
                                    <a href="<%= url_for :controller =>  'apps', :action => 'companies' %>" class="dropdown-item">Companies</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'clients' %>" class="dropdown-item">Clients</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'outlook' %>" class="dropdown-item">Outlook View</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'vote_list' %>" class="dropdown-item">Vote List</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'issue_tracker' %>" class="dropdown-item">Issue Tracker</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'api_keys' %>" class="dropdown-item">API Keys</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'blog' %>" class="dropdown-item">Blog</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'article' %>" class="dropdown-item">Article</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'pin_board' %>" class="dropdown-item">Pin Board</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'forum_view' %>" class="dropdown-item">Forum View</a>
                                    <a href="<%= url_for :controller =>  'apps', :action => 'forum_post' %>" class="dropdown-item">Forum Post</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-files"></i></span>
                            <span class="menu-text">Pages</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <!-- Pages Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-genr-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-notebook"></i>General Pages <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-genr-pages">
                                    <a href="<%= url_for :controller =>  'pages', :action => 'profile' %>" class="dropdown-item">Profile</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'faq' %>" class="dropdown-item">FAQ</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'pricing' %>" class="dropdown-item">Pricing</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'empty_page' %>" class="dropdown-item">Empty Page</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'timeline' %>" class="dropdown-item">Timeline</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'search_results' %>" class="dropdown-item">Search Results</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'coming_soon' %>" class="dropdown-item">Coming Soon</a>
                                    <a href="<%= url_for :controller =>  'pages', :action => 'terms_conditions' %>" class="dropdown-item">Terms & Conditions</a>
                                </div>
                            </div>

                            <!-- Miscellaneous Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-misc" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-package"></i> Miscellaneous <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-misc">
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'nestable_list' %>" class="dropdown-item">Nestable List</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'text_diff' %>" class="dropdown-item">Text Diff</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'pdf_viewer' %>" class="dropdown-item">PDF Viewer</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'i18_support' %>" class="dropdown-item">i18 Support</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'sweet_alerts' %>" class="dropdown-item">Sweet Alerts</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'idle_timer' %>" class="dropdown-item">Idle Timer</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'pass_meter' %>" class="dropdown-item">Password Meter</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'live_favicon' %>" class="dropdown-item">Live Favicon</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'clipboard' %>" class="dropdown-item">Clipboard</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'tree_view' %>" class="dropdown-item">Tree View</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'loading_button' %>" class="dropdown-item">Loading Buttons</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'gallery' %>" class="dropdown-item">Gallery</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'masonry' %>" class="dropdown-item">Masonry</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'tour' %>" class="dropdown-item">Tour</a>
                                    <a href="<%= url_for :controller =>  'miscellaneous', :action => 'animation' %>" class="dropdown-item">Animation</a>
                                </div>
                            </div>

                            <!-- Auth Version 1 Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth-v1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-shield-lock"></i> Authentication 1 <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth-v1">
                                    <a href="<%= url_for :controller => 'auth', :action =>  'signin' %>" class="dropdown-item">Sign In</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'signup' %>" class="dropdown-item">Sign Up</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'reset_pass' %>" class="dropdown-item">Reset Password</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'new_pass' %>" class="dropdown-item">New Password</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'two_factor' %>" class="dropdown-item">Two Factor</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'lock_screen' %>" class="dropdown-item">Lock Screen</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'success_mail' %>" class="dropdown-item">Success Mail</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'login_with_pin' %>" class="dropdown-item">Login with PIN</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'delete_account' %>" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth-v2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-user-hexagon"></i> Authentication 2 <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth-v2">
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_signin' %>" class="dropdown-item">Sign In</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_signup' %>" class="dropdown-item">Sign Up</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_reset_pass' %>" class="dropdown-item">Reset Password</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_new_pass' %>" class="dropdown-item">New Password</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_two_factor' %>" class="dropdown-item">Two Factor</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_lock_screen' %>" class="dropdown-item">Lock Screen</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_success_mail' %>" class="dropdown-item">Success Mail</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_login_with_pin' %>" class="dropdown-item">Login with PIN</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth2_delete_account' %>" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth-v3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-lock-access"></i> Authentication 3 <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth-v3">
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_signin' %>" class="dropdown-item">Sign In</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_signup' %>" class="dropdown-item">Sign Up</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_reset_pass' %>" class="dropdown-item">Reset Password</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_new_pass' %>" class="dropdown-item">New Password</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_two_factor' %>" class="dropdown-item">Two Factor</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_lock_screen' %>" class="dropdown-item">Lock Screen</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_success_mail' %>" class="dropdown-item">Success Mail</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_login_with_pin' %>" class="dropdown-item">Login with PIN</a>
                                    <a href="<%= url_for :controller => 'auth', :action =>  'auth3_delete_account' %>" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-error" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-alert-hexagon"></i> Error Pages <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="<%= url_for :controller => 'error', :action => 'error_400' %>" class="dropdown-item">400 - Bad Request</a>
                                    <a href="<%= url_for :controller => 'error', :action => 'error_401' %>" class="dropdown-item">401 - Unauthorized</a>
                                    <a href="<%= url_for :controller => 'error', :action => 'error_403' %>" class="dropdown-item">403 - Forbidden</a>
                                    <a href="<%= url_for :controller => 'error', :action => 'error_404' %>" class="dropdown-item">404 - Not Found</a>
                                    <a href="<%= url_for :controller => 'error', :action => 'error_408' %>" class="dropdown-item">408 - Timeout</a>
                                    <a href="<%= url_for :controller => 'error', :action => 'error_500' %>" class="dropdown-item">500 - Server Error</a>
                                    <a href="<%= url_for :controller => 'error', :action => 'maintenance' %>" class="dropdown-item">Maintenance</a>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-components" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-components"></i></span>
                            <span class="menu-text">Components</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-baseui" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-palette"></i> Base UI One <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-baseui">
                                    <a href="<%= url_for :controller => 'ui', :action => 'accordions' %>" class="dropdown-item">Accordions</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'alerts' %>" class="dropdown-item">Alerts</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'images' %>" class="dropdown-item">Images</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'badges' %>" class="dropdown-item">Badges</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'breadcrumbs' %>" class="dropdown-item">Breadcrumb</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'buttons' %>" class="dropdown-item">Buttons</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'cards' %>" class="dropdown-item">Cards</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'carousel' %>" class="dropdown-item">Carousel</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'collapse' %>" class="dropdown-item">Collapse</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'colors' %>" class="dropdown-item">Colors</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'dropdowns' %>" class="dropdown-item">Dropdowns</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'video' %>" class="dropdown-item">Videos</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'grid' %>" class="dropdown-item">Grid Options</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-baseuiTwo" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-palette"></i> Base UI Two<div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-baseuiTwo">
                                    <a href="<%= url_for :controller => 'ui', :action => 'links' %>" class="dropdown-item">Links</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'list_group' %>" class="dropdown-item">List Group</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'modals' %>" class="dropdown-item">Modals</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'notifications' %>" class="dropdown-item">Notifications</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'offcanvas' %>" class="dropdown-item">Offcanvas</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'placeholders' %>" class="dropdown-item">Placeholders</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'pagination' %>" class="dropdown-item">Pagination</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'popovers' %>" class="dropdown-item">Popovers</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'progress' %>" class="dropdown-item">Progress</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'scrollspy' %>" class="dropdown-item">Scrollspy</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'spinners' %>" class="dropdown-item">Spinners</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'tabs' %>" class="dropdown-item">Tabs</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'tooltips' %>" class="dropdown-item">Tooltips</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'typography' %>" class="dropdown-item">Typography</a>
                                    <a href="<%= url_for :controller => 'ui', :action => 'utilities' %>" class="dropdown-item">Utilities</a>
                                </div>
                            </div>

                            <a href="<%= url_for :controller =>  'widgets', :action => 'widgets' %>" class="dropdown-item"><i class="ti ti-category"></i> Widgets</a>
                            <a href="<%= url_for :controller =>  'metrics', :action => 'metrics' %>" class="dropdown-item"><i class="ti ti-chart-histogram"></i> Metrics</a>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-apexcharts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-chart-bar"></i> Apex Charts 1<div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-apexcharts">
                                    <a href="<%= url_for :controller => 'graphs', :action => 'area' %>" class="dropdown-item">Area</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'bar' %>" class="dropdown-item">Bar</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'bubble' %>" class="dropdown-item">Bubble</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'candlestick' %>" class="dropdown-item">Candlestick</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'column' %>" class="dropdown-item">Column</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'heatmap' %>" class="dropdown-item">Heatmap</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'line' %>" class="dropdown-item">Line</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'mixed' %>" class="dropdown-item">Mixed</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'timeline' %>" class="dropdown-item">Timeline</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'boxplot' %>" class="dropdown-item">Boxplot</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'treemap' %>" class="dropdown-item">Treemap</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-apexchartsTwo" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-chart-bar"></i> Apex Charts 2<div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-apexchartsTwo">
                                    <a href="<%= url_for :controller => 'graphs', :action => 'pie' %>" class="dropdown-item">Pie</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'radar' %>" class="dropdown-item">Radar</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'radialbar' %>." class="dropdown-item">RadialBar</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'scatter' %>" class="dropdown-item">Scatter</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'polar_area' %>" class="dropdown-item">Polar Area</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'sparkline' %>" class="dropdown-item">Sparklines</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'range' %>" class="dropdown-item">Range</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'funnel' %>" class="dropdown-item">Funnel</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'slope' %>" class="dropdown-item">Slope</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'apextree' %>" class="dropdown-item">Apex Tree</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'apexsankey' %>" class="dropdown-item">Apex Sankey</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-echarts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-chart-pie"></i> Echarts <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-echarts">
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_line' %>" class="dropdown-item">Line</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_bar' %>" class="dropdown-item">Bar</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_pie' %>" class="dropdown-item">Pie</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_scatter' %>" class="dropdown-item">Scatter</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_geo_map' %>" class="dropdown-item">GEO Map</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_gauge' %>" class="dropdown-item">Gauge</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_candlestick' %>" class="dropdown-item">Candlestick</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_area' %>" class="dropdown-item">Area</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_radar' %>" class="dropdown-item">Radar</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_heatmap' %>" class="dropdown-item">Heatmap</a>
                                    <a href="<%= url_for :controller => 'graphs', :action => 'echart_other' %>" class="dropdown-item">Other</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-forms" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-checkup-list"></i> Forms <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-forms">
                                    <a href="<%= url_for :controller => 'forms', :action => 'element' %>" class="dropdown-item">Basic Elements</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'picker' %>" class="dropdown-item">Pickers</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'select' %>" class="dropdown-item">Select</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'validation' %>" class="dropdown-item">Validation</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'wizard' %>" class="dropdown-item">Wizard</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'file_upload' %>" class="dropdown-item">File Uploads</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'text_editors' %>" class="dropdown-item">Text Editors</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'range_slider' %>" class="dropdown-item">Range Slider</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'layouts' %>" class="dropdown-item">Layouts</a>
                                    <a href="<%= url_for :controller => 'forms', :action => 'other_plugin' %>" class="dropdown-item">Other Plugins</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-icons" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-icons"></i> Icons <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-icons">
                                    <a href="<%= url_for :controller => 'icons', :action => 'tabler' %>" class="dropdown-item">Tabler</a>
                                    <a href="<%= url_for :controller => 'icons', :action => 'lucide' %>" class="dropdown-item">Lucide</a>
                                    <a href="<%= url_for :controller => 'icons', :action => 'flag' %>" class="dropdown-item">Flags</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-maps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-map"></i> Maps <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-maps">
                                    <a href="<%= url_for :controller => 'maps', :action => 'google' %>" class="dropdown-item">Google Maps</a>
                                    <a href="<%= url_for :controller => 'maps', :action => 'vector' %>" class="dropdown-item">Vector Maps</a>
                                    <a href="<%= url_for :controller => 'maps', :action => 'leaflet' %>" class="dropdown-item">Leaflet Maps</a>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-tables" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-table-column"></i></span>
                            <span class="menu-text">Tables</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-tables">
                            <a href="<%= url_for :controller => 'tables', :action => 'static' %>" class="dropdown-item"><i class="ti ti-border-all"></i> Static Tables</a>
                            <a href="<%= url_for :controller => 'tables', :action => 'custom' %>" class="dropdown-item"><i class="ti ti-stack-forward"></i> Custom Tables</a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-datatables" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-table"></i> DataTables <span class="badge bg-success ms-1">14</span> <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-datatables">
                                    <a href="<%= url_for :controller => 'tables', :action => 'basic' %>" class="dropdown-item">Basic</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'export_data' %>" class="dropdown-item">Export Data</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'select' %>" class="dropdown-item">Select</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'ajax' %>" class="dropdown-item">Ajax</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'javascript' %>" class="dropdown-item">Javascript Source</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'data_rendering' %>" class="dropdown-item">Data Rendering</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'scroll' %>" class="dropdown-item">Scroll</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'column' %>" class="dropdown-item">Show & Hide Column</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'child_rows' %>" class="dropdown-item">Child Rows</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'column_searching' %>" class="dropdown-item">Column Searching</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'range_search' %>" class="dropdown-item">Range Search</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'fixed_header' %>" class="dropdown-item">Fixed Header</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'add_rows' %>" class="dropdown-item">Add Rows</a>
                                    <a href="<%= url_for :controller => 'tables', :action => 'checkbox_select' %>" class="dropdown-item">Checkbox Select</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-layout"></i></span>
                            <span class="menu-text">Layouts</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts-one" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-layout"></i> Layout Options <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-layouts-one">
                                    <a href="<%= url_for :controller => 'layouts_eg', :action => 'scrollable' %>" class="dropdown-item" target="_blank">Scrollable</a>
                                    <a href="<%= url_for :controller => 'layouts_eg', :action => 'compact' %>" class="dropdown-item" target="_blank">Compact</a>
                                    <a href="<%= url_for :controller => 'layouts_eg', :action => 'boxed' %>" class="dropdown-item" target="_blank">Boxed</a>
                                    <a href="<%= url_for :controller => 'layouts_eg', :action => 'horizontal' %>" class="dropdown-item" target="_blank">Horizontal</a>
                                    <a href="<%= url_for :controller => 'layouts_eg', :action => 'preloader' %>" class="dropdown-item" target="_blank">Preloader</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-sidebars" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-layout-sidebar"></i> Sidebars <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-sidebars">
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'light' %>" class="dropdown-item" target="_blank">Light Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'gradient' %>" class="dropdown-item" target="_blank">Gradient Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'image' %>" class="dropdown-item" target="_blank">Image Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'compact' %>" class="dropdown-item" target="_blank">Compact Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'icon_view' %>" class="dropdown-item" target="_blank">Icon View Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'on_hover' %>" class="dropdown-item" target="_blank">On Hover Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'on_hover_active' %>" class="dropdown-item" target="_blank">On Hover Active</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'offcanvas' %>" class="dropdown-item" target="_blank">Offcanvas Menu</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'no_icon' %>" class="dropdown-item" target="_blank">No Icons with Lines</a>
                                    <a href="<%= url_for :controller => 'sidebars', :action => 'sidebar_with_line' %>" class="dropdown-item" target="_blank">Sidebar with Lines</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-topbars" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-box-align-top"></i> Topbar <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-topbars">
                                    <a href="<%= url_for :controller => 'topbar', :action => 'dark' %>" class="dropdown-item" target="_blank">Dark Topbar</a>
                                    <a href="<%= url_for :controller => 'topbar', :action => 'gray' %>" class="dropdown-item" target="_blank">Gray Topbar</a>
                                    <a href="<%= url_for :controller => 'topbar', :action => 'gradient' %>" class="dropdown-item" target="_blank">Gradient Topbar</a>
                                    <a href="<%= url_for :controller => 'topbar', :action => 'sub_items' %>" class="dropdown-item">Topbar with Sub Items</a>
                                    <a href="<%= url_for :controller => 'topbar', :action => 'tools' %>" class="dropdown-item">Topbar with Tools</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url_for :controller =>  'landing', :action => 'index' %>">
                            <span class="menu-icon"><i class="ti ti-rocket"></i></span>
                            <span class="menu-text">Landing</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<!-- Horizontal Menu End -->