<% @title="Two Factor Authentication" %>

    <div class="auth-box p-0 w-100">
        <div class="row w-100 g-0">
            <div class="col">
                <div class="h-100 position-relative card-side-img rounded-0 overflow-hidden">
                    <div class="p-4 card-img-overlay auth-overlay d-flex align-items-end justify-content-center">
                    </div>
                </div>
            </div>

            <div class="col-xl-auto">
                <!--Auth Box content -->
                <div class="card auth-box-form border-0 mb-0">
                    <div class="card-body min-vh-100 d-flex flex-column justify-content-center">
                        <div class="auth-brand mb-0 text-center">
                            <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>" class="logo-dark">
                                <img src="<%= vite_asset_path 'images/logo-black.png' %>" alt="dark logo" height="32">
                            </a>
                            <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>" class="logo-light">
                                <img src="<%= vite_asset_path 'images/logo.png' %>" alt="logo" height="32">
                            </a>
                        </div>

                        <div class="mt-auto text-center">
                            <h4 class="fw-bold">Two-Factor Verification ! | IN+</h4>
                            <p class="text-muted mx-auto mb-5">Let’s get you signed in. Enter your PIN to continue</p>

                            <div class="text-center mb-4">
                                <h5 class="text-muted fs-base mb-3">We've emailed you a 6-digit verification code we sent to</h5>

                                <div class="fw-bold fs-3">******6789</div>
                            </div>

                            <form>
                                <label class="form-label d-flex">Enter your 6-digit code <span class="text-danger">*</span></label>
                                <div class="d-flex gap-2 mb-3 two-factor">
                                    <input type="text" class="form-control py-2 bg-light bg-opacity-40 border-light text-center" required>
                                    <input type="text" class="form-control py-2 bg-light bg-opacity-40 border-light text-center" required>
                                    <input type="text" class="form-control py-2 bg-light bg-opacity-40 border-light text-center" required>
                                    <input type="text" class="form-control py-2 bg-light bg-opacity-40 border-light text-center" required>
                                    <input type="text" class="form-control py-2 bg-light bg-opacity-40 border-light text-center" required>
                                    <input type="text" class="form-control py-2 bg-light bg-opacity-40 border-light text-center" required>
                                </div>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary fw-semibold py-2">Confirm</button>
                                </div>
                            </form>

                            <p class="mt-4 text-muted text-center mb-4">Don’t have a code? <a href="#" class="text-decoration-underline link-offset-2 fw-semibold">Resend</a> or <a href="#" class="text-decoration-underline link-offset-2 fw-semibold">Call Us</a></p>

                        </div>

                        <p class="text-muted text-center mt-4 mb-0">
                            Return to <a href="<%= url_for :controller => 'auth', :action =>  'auth3_signin' %>" class="text-decoration-underline link-offset-3 fw-semibold">Sign in</a>
                        </p>

                        <p class="text-center text-muted mt-auto mb-0">
                            © 2014 -
                            <script>document.write(new Date().getFullYear())</script> INSPINIA — by <span class="fw-semibold">WebAppLayers</span>
                        </p>
                    </div>
                </div>
                <!-- End Auth Box Content -->
            </div>
        </div>
    </div>
    <!-- end auth-fluid-->

<% content_for :javascript do %>
  <%= vite_javascript_tag 'js/pages/auth-two-factor.js' %>
<% end %>             